<h2 class="subtitle">Log In</h2>
<div id="signup-page">
  <form id="signup-form" action="/auth/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button class="btn" type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  <img src="/images/pruthvi-sagar-a-r-xxgNqAtIJ0s-unsplash.jpg" alt="flame" id="signup-img">
</div>