<div id="form">
  <h2>Sign Up to My Cookbook!</h2>
  <form action="/signup" method="POST" enctype="multipart/form-data">

    <label> First Name
      <input type="text" name="firstName" placeholder="Bruce" />
    </label>

    <label> Last Name
      <input type="text" name="lastName" placeholder="Wayne" />
    </label>

    <label> Username
      <input type="text" name="username" placeholder="TheBatman" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="batman@wayne-corp.com" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

     <label> Profile Image
      <input type="file" name="profileImage" id="">
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>