<h2>Add a new recipe</h2>

  <form action="/recipes/create" method="POST">

  <label for="title-input">Recipe name:</label>
  <br/>
  <input type="text" name="title" id="title-input" />
  <br/>

  <label for="creator-input">Creator:</label>
  <br/>
  <input type="text" name="creator" id="creator-input" />
   <br/>
  <label for="">cook time</label>
  <br/>
  <input type="number" name="name" id="" >
  <br/>

  <label for="ingredients-input">ingredients:</label>
  <br/>
  <textarea name="ingredients" id="description-input"> </textarea>
   <br/>

   <label for="instructions-input">instructions:</label>
  <br/>
  <textarea name="instructions" id="instructions-input"> </textarea>
   <br/>
  
  <button type="submit">Create</button>
  </form>
